:root {
    --initialBackgroundOne: url(../pictures/artful-logo.png);
    --initialBackgroundTwo: none;
}

body, html {
    height: 100%;
    margin: 0;
}

.bg {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 1;
}

#bg1 {
    background-image: var(--initialBackgroundOne);
    background-color: green;
    z-index: -2
}

#bg2 {
    height: 100%;
    background-image: var(--initialBackgroundTwo);
    background-color: white;
    transition: opacity 1s;
    z-index: -1
}

#bg2.hide {
    opacity: 0;
}