<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" charset="UTF-8"/>
    <title>Settings</title>
</head>
<body>
    <form action="#" th:action="@{/saveusersettings}" th:object="${usersettings}" method="post">
        <h1>Settings</h1>
        <h2>Account settings</h2>
        <table border="0">
            <tr>
                <td>Username:</td>
                <td><input type="text" th:field="${usersettings.username}"/></td>
            </tr>
        </table>
        <h2>Calendar settings</h2>
        <table border="0" style="text-align:left">
            <tr th:each="cal, stat: *{calendarSettings}">
                <td>
                    <input type="checkbox" th:field="*{calendarSettings[__${stat.index}__].selected}"/>
                    <input type="hidden" th:field="*{calendarSettings[__${stat.index}__].type}"/>
                    <input type="hidden" th:field="*{calendarSettings[__${stat.index}__].description}"/>
                </td>
                <td>
                    <input type="text" th:field="*{calendarSettings[__${stat.index}__].name}"/>
                </td>
                <td><input type="text" th:field="*{calendarSettings[__${stat.index}__].id}"/></td>
            </tr>
        </table>
        <button type="submit" name="saveUserSetting">Save</button>
    </form>
</body>
</html>
