<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Settings</title>
    <meta http-equiv="Content-Type" charset="UTF-8"/>
    <script src="./frameworks/jquery.min.js"></script>
    <script src="./frameworks/vue.js"></script>
    <script src="colorpicker.js"></script>
    <script src="usersettings.js"></script>
    <link rel="stylesheet" href="colorpicker.css">
</head>
<body>

    <form id="" action="http://localhost:8080/index.html">
        <input type="submit" id="backButton"  name="backButton" value="Back" />
    </form>

    <form id="saveSettingsForm" action="http://localhost:8080/saveUserSettings">
        <h1>Settings</h1>
        <h2>Account settings</h2>
        <table border="0">
            <tr>
                <td>Username:</td>
                <td>{{ settings.username }}</td>
            </tr>
        </table>
        <h2>Calendar settings</h2>
        <table id="calendarsettingstable" border="0" style="text-align:left">
            <tbody>
                <tr v-for="s in settings.calendarSettings">
                    <td><input type="checkbox" id="checkbox" v-model="s.selected"></td>
                    <td>{{ s.name }}</td>
                    <td><color-picker-dropdown v-model="s.color" :initial="s.color" /></td>
                </tr>
            </tbody>
        </table>
        <br/>
        <input type="submit" id="submitButton"  name="submitButton" value="Save" /> {{ msg }}
    </form>

</body>
</html>
